# Builds & binaries
build/
bin/
target/
lib/
launcher/
.gradle/
*.zip
*.jar

# Misc mod files
media/
libs/
sources/
vendor/

# Tmp files
*~
*#

# IDEs
.classpath
.project
.settings
.pydevproject
.idea
*.iml
*.ipr
*.iws
out

# MCP Files
docs/
conf/
eclipse/
jars/
logs/
runtime/
temp/
reobf/
CHANGELOG
LICENSE.txt
*.bat
*.sh
run

# Misc
*.rej