# Referenced in various ContentModules to add vegan brewing ingredient alternatives.
# PotionBrewing.addMix
public net.minecraft.world.item.alchemy.PotionBrewing addMix(Lnet/minecraft/world/item/alchemy/Potion;Lnet/minecraft/world/item/Item;Lnet/minecraft/world/item/alchemy/Potion;)V

# Referenced in PistonMovingBlockEntityMixin#veganoption$onTick
# PistonMovingBlockEntity.progress
public net.minecraft.world.level.block.piston.PistonMovingBlockEntity progress

# Referenced in RecipeModifier#shouldConvert and RecipeModifier#convert
# ShapelessRecipe.result
public net.minecraft.world.item.crafting.ShapelessRecipe result

# Referenced in RecipeModifier#shouldConvert and RecipeModifier#convert
# ShapedRecipe.result
public net.minecraft.world.item.crafting.ShapedRecipe result